<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Status</th>
            <th>Due Date</th>
        </tr>
    </thead>
    <tbody>
        <% for (var i = 0; i < allTodos.length; i++) { %>
            <tr>
                <td><%= allTodos[i].title %></td>
                <td><%= allTodos[i].completed ? "Completed" : "Pending" %></td>
                <td><%= allTodos[i].dueDate %></td>
            </tr>
        <% } %>
    </tbody>
</table>